@import "_reset.scss";

main {
   display: grid;
   grid-template-columns: 1fr;
   place-items: center;
   gap: 1rem;
   height: 100vh;
   background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.country {
   &__card {
      display: grid;
      grid-template-columns: 1fr;

      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.264);
      transition: 0.6s;
      opacity: 0;
      border-radius: 6px;

      background-color: white;
   }
   &__flag {
      width: 30rem;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
   }
   &__data {
      display: flex;
      flex-direction: column;
      font-size: 1.8rem;
      gap: 1rem;
      padding: 2rem;
   }
   &__region {
      color: gray;
   }
}

.button {
   cursor: pointer;
   padding: 1rem 2rem;
   background-color: rgba(7, 251, 121, 0.45);
   color: black;
   border-radius: 6px;
   border: 1px solid transparent;
   transition: 0.3s all;
   &:hover {
      background-color: rgb(191, 170, 16);
      color: white;
   }
   &:active {
      background-color: green;
      color: white;
   }
}

.error__card {
   position: fixed;
   top: 50px;

   padding: 3rem 4rem;

   z-index: 1;
   opacity: 1;
   transform: translateY(-20rem);

   font-size: 2.4rem;
   background-color: #e84855;
   color: #e6e9f0;
   border-radius: 8px;
   transition: 0.5s;

   &__close {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 3rem;
      height: 3rem;

      font-size: 1.8rem;
      border-radius: 50%;
      background-color: #e6e9f0;
      cursor: pointer;
   }
}
.error__card-active {
   z-index: 1;
   transform: translateY(0rem);
}
